@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --max-font-size: 20px;

  font-family: "Inter", sans-serif;
  font-size: max(calc(1.5625vw), var(--max-font-size));
  @apply bg-grey_dark text-white min-h-screen scroll-smooth;
}

body {
  @apply bg-grey_dark;
}

@media (max-width: 768px) {
  html {
    --max-font-size: 18px;
  }
}

#root {
  @apply relative;

  & h1 {
    @apply leading-normal text-[2rem]  md:text-[3.6rem];
  }

  & h2 {
    @apply leading-normal text-[1.6rem] md:text-[2.8rem];
  }

  & h3 {
    @apply leading-normal text-[1.4rem] md:text-[2rem];
  }

  & p {
    @apply leading-tight text-base;
  }

  & .button,
  & button {
    @apply px-8 py-3 bg-highlight text-black;
  }

  & .custom-list li:before {
    display: inline-block;
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    margin-right: 0.5rem;

    @apply border border-highlight;
  }

  & .content-separator {
    &:before {
      content: "";
      display: block;
      height: 2px;

      @apply w-full my-10 bg-grey_light;
    }
  }
}
