@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', sans-serif;
  font-size: max(calc(1.5625vw), 20px);
  @apply bg-grey_dark text-white min-h-screen scroll-smooth;
}

#root {
  @apply relative;

  & h1 {
    @apply leading-normal text-[2rem]  md:text-[3.6rem];
  }

  & h2 {
    @apply leading-normal text-[1.6rem] md:text-[2.8rem];
  }

  & h3 {
    @apply leading-normal text-[1.2rem] md:text-[2rem];
  }

  & p {
    @apply leading-tight text-base;
  }

  & .button,
  & button {
    @apply px-8 py-3 bg-highlight text-black;
  }

  & .content-separator {
    &:before,
    &:after {
      content: "";
      display: block;
      height: 2px;

      @apply w-full my-10 bg-grey_light;
    }
  }
}